@import "tailwindcss";
.app {
  display: flex;
  height: 100vh;
  font-family: sans-serif;
}

.sidebar {
  width: 300px;
  padding: 1rem;
  background: #fff;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.filters {
  margin-bottom: 1rem;
}

.map-container {
  flex-grow: 1;
}
